<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lista de Carros</title>
</head>
<body>

<div class="container">
    <div class="table-container">
        <h1>Lista de Carros</h1>
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Ações</th>
            </tr>
            <tr th:each="carro : ${carro}">
                <td th:text="${carro.marca}"></td>
                <td th:text="${carro.modelo}"></td>
                <td th:text="${carro.ano}"></td>
                <td th:text="${carro.cor}"></td>
                <td>
                    <a th:href="@{'/carros/edit/' + ${carro.id}}" class="edit-link">Editar</a>
                    <a th:href="@{'/carros/delete/' + ${carro.id}}" class="delete-link">Excluir</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/carros/create}" class="add-link">Adicionar Novo Carro</a>
    </div>
</div>

</body>
</html>
